@font-face {
    font-family: "Young Serif";
    src: local("Young Serif"), url("../assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Outfit";
    src: local("Outfit"), url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

:root {
    /* Colors */
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;
    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;
    --brown-800: #854632;
    --white: #FFF;

    /* Typography */
    --text-1-desktop: normal 400 40px/100% "Young Serif", serif;
    --text-1-mobile: normal 400 36px/100% "Young Serif", serif;
    --text-2: normal 400 28px/100% "Young Serif", serif;
    --text-3: normal 600 20px/100% "Outfit", serif;
    --text-4: normal 400 16px/150% "Outfit", serif;
    --text-4-bold: normal 700 16px/150% "Outfit", serif;

    /* Spacing */
    --space-1600: 128px;
    --space-600: 48px;
    --space-500: 40px;
    --space-400: 32px;
    --space-300: 24px;
    --space-200: 16px;
    --space-150: 12px;
    --space-100: 8px;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
}

article {
    padding: var(--space-500) var(--space-400);
    font: var(--text-4);
}

aside {
    margin: var(--space-400) 0;
    background-color: var(--rose-50);
    padding: var(--space-300);
}

aside h2 {
    font: var(--text-3);
    color: var(--rose-800);
    margin-bottom: var(--space-200);
}

body {
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    background-color: var(--stone-100);
    color: var(--stone-600);
}

h1 {
    font: var(--text-1-mobile);
    color: var(--stone-900);
    margin-bottom: var(--space-300);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

main {
    background-color: var(--white);
    padding: 0;
}

section {
    margin: var(--space-400) 0;
}

@media (min-width: 600px) {

    h1 {
        font: var(--text-1-desktop);
    }

    main {
        padding: var(--space-500);
        border-radius: 24px;
    }

}