@font-face {
    font-family: "Young Serif";
    src: local("Young Serif"), url("../assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Outfit";
    src: local("Outfit"), url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

:root {
    /* Colors */
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;
    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;
    --brown-800: #854632;
    --white: #FFF;

    /* Typography */
    --text-1-desktop: normal 400 40px/100% "Young Serif", serif;
    --text-1-mobile: normal 400 36px/100% "Young Serif", serif;
    --text-2: normal 400 28px/100% "Young Serif", serif;
    --text-3: normal 600 20px/100% "Outfit", serif;
    --text-4: normal 400 16px/150% "Outfit", serif;
    --text-4-bold: normal 700 16px/150% "Outfit", serif;

    /* Spacing */
    --space-1600: 128px;
    --space-600: 48px;
    --space-500: 40px;
    --space-400: 32px;
    --space-300: 24px;
    --space-200: 16px;
    --space-150: 12px;
    --space-100: 8px;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
}

article {
    padding: var(--space-500) var(--space-400);
    font: var(--text-4);
}

aside {
    margin: var(--space-400) 0;
    background-color: var(--rose-50);
    padding: var(--space-300);
    border-radius: 12px;
}

aside h2 {
    font: var(--text-3);
    color: var(--rose-800);
    margin-bottom: var(--space-200);
}

aside ::marker {
    color: var(--rose-800);
}

body {
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    background-color: var(--stone-100);
    color: var(--stone-600);
    display: flex;
    justify-content: center;
}

h1 {
    font: var(--text-1-mobile);
    color: var(--stone-900);
    margin-bottom: var(--space-300);
}

h2 {
    color: var(--brown-800);
    font: var(--text-2);
    margin-bottom: var(--space-300);
}

hr {
    border-width: 0 0 1px;
    color: var(--stone-150);
    margin-top: -1px;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

li {
    margin-top: var(--space-100);
}

main {
    background-color: var(--white);
    padding: 0;
    flex: 616px 0 1;
}

::marker {
    color: var(--brown-800);
    font: var(--text-4-bold);
}

ol {
    padding-left: var(--space-300);
}

ol > li {
    padding-left: var(--space-200);
}

ul {
    list-style: none;
}

ul > li {
    background-image: url("../assets/images/bullet-brown-800.png");
    background-repeat: no-repeat;
    background-size: var(--space-300) var(--space-300);
    background-position: center left 6px;
    padding-left: var(--space-500);
}

aside > ul > li {
    background-image: url("../assets/images/bullet-rose-800.png");
}

p {
    margin: var(--space-300) 0;
}

section {
    margin: var(--space-400) 0;
}

section:last-of-type {
    margin: var(--space-400) 0 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    font: var(--text-4-bold);
    color: var(--brown-800);
    padding-right: var(--space-400);
    padding-left: var(--space-100);
}

th {
    font: var(--text-4);
    text-align: left;
    padding-left: var(--space-400);
}

td, th {
    border-bottom: 1px solid var(--stone-150);
    height: calc(var(--space-300) + 2 * var(--space-150));
}

tr:first-of-type td, tr:first-of-type th {
    height: calc(var(--space-300) + var(--space-150));
    vertical-align: top;
}

tr:last-of-type td, tr:last-of-type th {
    border: none;
    height: calc(var(--space-300) + var(--space-150));
    vertical-align: bottom;
}

@media (width > 600px) {
    
    article {
        padding: var(--space-500) 0 0;
    }

    body {
        padding: var(--space-1600) var(--space-600);
        align-items: center;
    }

    h1 {
        font: var(--text-1-desktop);
    }

    img {
        height: 300px;
        object-fit: cover;
    }

    main {
        padding: var(--space-500);
        border-radius: 24px;
    }

}

@media (width > 768px) {
    main {
       flex: 736px 0 1;
    }
}